@{
    Layout = "";
}
@await Component.InvokeAsync("MenuView")

<div class="d-flex justify-content-center p-5">
    <h3 style="center">
        Cảm ơn bạn đã góp ý đến page
    </h3>
    
    <div>
        <a class="" asp-controller="Home" asp-action="Index">Quay lại trang chủ</a>
    </div>
</div>
