<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>
		
		<!-- Favicon -->
	<link rel="icon" href="~/Client/img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/Client/css/nice-select.css">
		<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="~/Client/css/font-awesome.min.css">
		<!-- icofont CSS -->
	<link rel="stylesheet" href="~/Client/css/icofont.css">
		<!-- Slicknav -->
	<link rel="stylesheet" href="~/Client/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="~/Client/css/owl-carousel.css">
		<!-- Datepicker CSS -->
	<link rel="stylesheet" href="~/Client/css/datepicker.css">
		<!-- Animate CSS -->
	<link rel="stylesheet" href="~/Client/css/animate.min.css">
		<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="~/Client/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
	<link rel="stylesheet" href="~/Client/css/normalize.css">
	<link rel="stylesheet" href="~/Client/style.css">
	<link rel="stylesheet" href="~/Client/css/responsive.css">
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		@* 
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro" href="#">Get Pro</a>
			<li class="big-title">Pro Version Available on Themeforest</li>
			<li class="title">Pro Version Features</li>
			<li>2+ premade home pages</li>
			<li>20+ html pages</li>
			<li>Color Plate With 12+ Colors</li>
			<li>Sticky Header / Sticky Filters</li>
			<li>Working Contact Form With Google Map</li>
			<div class="button">
				<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
				<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
			</div>
		</ul>
	 *@
		<!-- Header Area -->
	@await Component.InvokeAsync("MenuView")
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
			<div class="single-slider" style=" background-image: url('/bg-img/021956527.jpg');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
								<h1 class="text-white">Giải pháp <span class="text-white">tối ưu</span> cho <span class="text-white">doanh nghiệp!</span></h1>
									
									<div class="button">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
            <div class="single-slider" style="background-image: url('/bg-img/cloud-visualization.jpeg');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
								<h1 class="text-white">Giải pháp <span class="text-white">tối ưu</span> cho <span class="text-white">doanh nghiệp!</span></h1>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">About Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
            <div class="single-slider" style="background-image: url('/bg-img/background-cong-nghe-ai_035953239.png');">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1 class="text-white">Giải pháp <span class="text-white">tối ưu</span> cho <span class="text-white">doanh nghiệp!</span></h1>
								<div class="button">
									<a href="#" class="btn">Get Appointment</a>
									<a href="#" class="btn primary">About Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		@RenderBody()


		

		<!-- Start Schedule Area -->
	<!-- Footer Area -->

	<!-- Start Blog Area -->
	<section class="blog section" id="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">

						<h2>Giải pháp tối ưu cho doanh nghiệp của bạn</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="~/bg-img/5.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">22 Aug, 2020</div>
								<h2><a href="blog-single.html">Phần Mềm Tùy Chỉnh và Giải Pháp Doanh Nghiệp.</a></h2>
								<p class="text">Chúng tôi cung cấp các dịch vụ phát triển phần mềm tùy chỉnh để đáp ứng đầy đủ nhu cầu và yêu cầu của doanh nghiệp. Đội ngũ phát triển của chúng tôi có khả năng tư vấn, thiết kế và triển khai các giải pháp phần mềm hoàn chỉnh, từ quản lý dữ liệu đến tự động kinh doanh. Chúng tôi cam kết mang đến cho doanh nghiệp sự linh hoạt và hiệu suất tối đa thông qua các giải pháp phần mềm tùy chỉnh chất lượng cao.</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="~/bg-img/2_1.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">15 Jul, 2020</div>
								<h2><a href="blog-single.html">Phát Triển Ứng Dụng Di Động.</a></h2>
								<p class="text">
									Công ty lập trình của chúng tôi chuyên sâu trong việc phát triển ứng dụng di động đa nền tảng, từ iOS đến Android. Chúng tôi có đội ngũ lập trình viên có kinh nghiệm vững về các ngôn ngữ như Swift, Kotlin, React Native và Flutter. Sự chú tâm đặc biệt vào trải nghiệm người dùng và khả năng tương thích giữa các thiết bị khác nhau giúp chúng tôi mang đến cho khách hàng những ứng dụng di động hiệu quả và thuận tiện.
								</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-news">
						<div class="news-head">
							<img src="~/bg-img/7_1.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">05 Jan, 2020</div>
								<h2><a href="blog-single.html">Bảo Trì và Nâng Cấp Hệ Thống.</a></h2>
								<p class="text">Chúng tôi không chỉ tập trung vào việc phát triển và triển khai, mà còn chú trọng đến việc duy trì và nâng cấp liên tục hệ thống của khách hàng. Dịch vụ bảo trì của chúng tôi bao gồm theo dõi hiệu suất, giải quyết sự cố, thực hiện các nâng cấp hệ thống để đảm bảo rằng ứng dụng và phần mềm luôn hoạt động mượt mà. giúp doanh nghiệp tập trung vào chính nghiệp vụ của mình mà không phải lo lắng về vấn đề kỹ thuật.</p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Area -->
	<!-- Start clients -->
	<div class="clients overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="owl-carousel clients-slider">
						<div class="single-clients">
						<img src="~/bg-img/edited_cong-nghe-thong-tin-la-gi-1.jpg" alt="#">
						</div>
						<div class="single-clients">
						<img src="~/bg-img/31-12-2017-cong-bo-10-su-kien-cong-nghe-thong-tin-truyen-thong-tieu-bieu-nam-2017-22904cea-details.jpg" alt="#">
						</div>
						<div class="single-clients">
							<img src="~/bg-img/cntt_truyen-thong.jpg" alt="#">
						</div>
						<div class="single-clients">
							<img src="~/bg-img/bo-mon-cntt.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="~/bg-img/edited_cong-nghe-thong-tin-la-gi-1.jpg" alt="#">
						</div>
						<div class="single-clients">
							<img src="~/bg-img/31-12-2017-cong-bo-10-su-kien-cong-nghe-thong-tin-truyen-thong-tieu-bieu-nam-2017-22904cea-details.jpg" alt="#">
						</div>
						<div class="single-clients">
							<img src="~/bg-img/cntt_truyen-thong.jpg" alt="#">
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/Ens clients -->
	@await Component.InvokeAsync("Post")
	@* <!-- Start Appointment -->
	<section class="appointment">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h4>Những đánh giá tốt về sản phẩm, chất lương,dịch vụ. Là động lực để chúng tôi phát triển hơn mỗi ngày </h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-12">
					<form class="form" action="#">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="name" type="text" placeholder="Name">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="email" type="email" placeholder="Email">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="phone" type="text" placeholder="Phone">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<div class="nice-select form-control wide" tabindex="0">
										<span class="current">Department</span>
										<ul class="list">
											<li data-value="1" class="option selected ">Department</li>
											<li data-value="2" class="option">Cardiac Clinic</li>
											<li data-value="3" class="option">Neurology</li>
											<li data-value="4" class="option">Dentistry</li>
											<li data-value="5" class="option">Gastroenterology</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<div class="nice-select form-control wide" tabindex="0">
										<span class="current">Doctor</span>
										<ul class="list">
											<li data-value="1" class="option selected ">Doctor</li>
											<li data-value="2" class="option">Dr. Akther Hossain</li>
											<li data-value="3" class="option">Dr. Dery Alex</li>
											<li data-value="4" class="option">Dr. Jovis Karon</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="text" placeholder="Date" id="datepicker">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-12">
								<div class="form-group">
									<textarea name="message" placeholder="Write Your Message Here....."></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-4 col-12">
								<div class="form-group">
									<div class="button">
										<button type="submit" class="btn">Book An Appointment</button>
									</div>
								</div>
							</div>
							
						</div>
					</form>
				</div>
				<div class="col-lg-6 col-md-12 ">
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Appointment --> *@

	@await Component.InvokeAsync("footerView")

	<!-- jquery Min JS -->
        <script src="~/Client/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
	<script src="~/Client/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
	<script src="~/Client/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
	<script src="~/Client/js/easing.js"></script>
		<!-- Color JS -->
	<script src="~/Client/js/colors.js"></script>
		<!-- Popper JS -->
	<script src="~/Client/js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
	<script src="~/Client/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
	<script src="~/Client/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
	<script src="~/Client/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
	<script src="~/Client/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
	<script src="~/Client/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
	<script src="~/Client/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
	<script src="~/Client/js/owl-carousel.js"></script>
		<!-- counterup JS -->
	<script src="~/Client/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
	<script src="~/Client/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
	<script src="~/Client/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
	<script src="~/Client/js/bootstrap.min.js"></script>
		<!-- Main JS -->
	<script src="~/Client/js/main.js"></script>
    </body>
</html>