@model startup.Models.Post
@{
    Layout = "";
}
	@await Component.InvokeAsync("MenuView")
<head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>
		
		<!-- Favicon -->
	<link rel="icon" href="~/Client/img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/Client/css/nice-select.css">
		<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="~/Client/css/font-awesome.min.css">
		<!-- icofont CSS -->
	<link rel="stylesheet" href="~/Client/css/icofont.css">
		<!-- Slicknav -->
	<link rel="stylesheet" href="~/Client/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="~/Client/css/owl-carousel.css">
		<!-- Datepicker CSS -->
	<link rel="stylesheet" href="~/Client/css/datepicker.css">
		<!-- Animate CSS -->
	<link rel="stylesheet" href="~/Client/css/animate.min.css">
		<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="~/Client/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
	<link rel="stylesheet" href="~/Client/css/normalize.css">
	<link rel="stylesheet" href="~/Client/style.css">
	<link rel="stylesheet" href="~/Client/css/responsive.css">
		
    </head>
<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" >
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <h1 class="mb-4">@Html.DisplayFor(model => model.Title)</h1>
                    <p>@Html.Raw(Model.Contents)</p>
                </div>
                <!-- Blog Detail End -->
                <!-- Comment List Start -->
                
            </div>

            <!-- Sidebar Start -->
			<div class="col-lg-4 p-3" style="    border: 1px solid;
    background: #1856edb0;">
                <!-- Search Form Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->
                <!-- Category Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    
                </div>
                @await Component.InvokeAsync("RecentPost")
               
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Vendor End -->

<script src="~/Client/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
	<script src="~/Client/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
	<script src="~/Client/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
	<script src="~/Client/js/easing.js"></script>
		<!-- Color JS -->
	<script src="~/Client/js/colors.js"></script>
		<!-- Popper JS -->
	<script src="~/Client/js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
	<script src="~/Client/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
	<script src="~/Client/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
	<script src="~/Client/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
	<script src="~/Client/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
	<script src="~/Client/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
	<script src="~/Client/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
	<script src="~/Client/js/owl-carousel.js"></script>
		<!-- counterup JS -->
	<script src="~/Client/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
	<script src="~/Client/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
	<script src="~/Client/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
	<script src="~/Client/js/bootstrap.min.js"></script>
		<!-- Main JS -->
	<script src="~/Client/js/main.js"></script>